<template name="channel">
  {{> sidebar}}

  <div class="conversation">
    <div id="messages" class="mCustomScrollbar">
      <div class="messages-list {{#if isLoading}}loading-list{{/if}}">
        {{#each messages}}
          {{> message}}
        {{else}}
          {{#if isDirect}}
            <p class="alert alert-warning">You haven't said anything to {{username}} yet. Say hello!</p>
          {{else}}
            <p class="alert alert-warning">This channel is pretty quiet. You should say something!</p>
          {{/if}}
        {{/each}}
      </div>
    </div>

    <div class="message-input">
      <input name="message" placeholder="Type your message here...">
    </div>
  </div>
<script>
var atBottom = false;
$("#messages").mCustomScrollbar({theme:"minimal-dark",callbacks:{
    onUpdate:function(){
		if(atBottom){
		  $("#messages").mCustomScrollbar("scrollTo", "bottom");
		}
    },
	whileScrolling:function(){
      if(this.mcs.topPct >= 98){
	  	  atBottom = true;
		}else{
		  atBottom = false;	
		}
    },
	onInit: function(){
	  $("#messages").mCustomScrollbar("scrollTo", "bottom");
	}
}});
</script>
</template>
