#!/usr/bin/env xdg-open
[Desktop Entry]
Name=BoE
Comment=Chat on BoE
GenericName=Chat Client
Exec=boe
Terminal=false
Type=Application
Icon=boe
Categories=Network;
