@import 'variables';
@import 'mixins/input.mixin';

body, * {
  font-family: $fontFamily;
  box-sizing: border-box;
}

html, body { 
  height:100%;
  padding-right: 11px;
  padding-bottom: 16px;
}

.container {
  float: right;
  margin: 0 auto;
  width: 80%;
  height: calc(100% - 40px);
}

.scrollable {
  float: right;
  margin: 0 auto;
  height: calc(100% - 80px);
  width: 80%;
  overflow: auto;
  position: absolute;
}

.send {
  float: right;
  padding-top: 1px;
  margin: 0 auto;
  width: 80%;
}
