@import 'variables';
@import 'mixins/input.mixin';

body, * {
  font-family: $fontFamily;
  box-sizing: border-box;
}

html, body {
  height:100%;
  padding-right: 11px;
  padding-bottom: 30px;
}

.container {
  position: absolute;
  left: 260px;
  top: 52px;
  float: left;
  margin: 0 0;
  width: calc(100% - 260px);
  height: calc(100% - 112px);
}

.scrollable {
  float: right;
  margin: 0 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  position: absolute;
}

.bottombar {
  position: absolute;
  top: calc(100% - 60px);
  right: 0;
  left: 250px;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #D3D3D3;
  float: right;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 6px;
  margin: 0 auto;
  width: calc(100% - 250px);
}

.sidebar {
  position:absolute;
  margin: 0 auto;
  float: left;
  width: 250px;
  top:0px;
  left:0px;
  height: 100%;
  background-color: #033c99;
}

.headder{
  width: calc(100% - 250px);
  top: 0px;
  height: 52px;
  left: 250px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #D3D3D3;
  position: absolute;

}
